.box{
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #999;
  border-radius: 10px;
  /* offset-x | offset-y | blur-radius | coclor */
  box-shadow: 10px 10px 5px #999;
}

.google {
  margin-bottom: 30px;
}
